{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "extends": [
    "@avalanche/eslint-config",
    "plugin:vue/recommended"
  ],
  "rules": {
    "vue/require-default-prop": 0
  }
}
